<html xmlns="http://www.w3.org/1999/xhtml" ng-app="App">
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>

    <div class="container">
        <ui-view></ui-view>
    </div>


    <!-- Angular -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- Bootstrap -->
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>


    <!-- ACE -->
    <script src="~/lib/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-html.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-javascript.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-csharp.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-css.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-typescript.js"></script>
    <script src="~/lib/angular-ui-ace/ui-ace.js"></script>

    <!-- App -->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>
</body>
</html>