<html xmlns="http://www.w3.org/1999/xhtml" ng-app="App">
<head>
    <title></title>

    <link href="~/css/bootstrap.united.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">Wax On</a>
            </div>
            <div id="navLinks" class="collapse navbar-collapse"  uib-collapse="isCollapsed">
               
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="admin.lessons" ng-show="account.getClaim('isAdmin')">Admin</a></li>
                    <li><a ng-click="account.logout()" ng-show="account.isLoggedIn()">logout {{account.getUserName()}}</a></li>
                </ul>
            </div>
        </div>
    </nav>

   

    <div class="container">
        <ui-view></ui-view>
    </div>


    <!-- Misc -->
    <script src="~/js/site.js"></script>
    <script src="~/lib/loop-protect/dist/loop-protect.min.js"></script>

    <!-- Angular -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-ui-router/dist/angular-ui-router.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>


    <!-- ACE -->
    <script src="~/lib/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-html.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-javascript.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-csharp.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-css.js"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/mode-typescript.js"></script>
    <script src="~/lib/angular-ui-ace/ui-ace.js"></script>

    <!-- App -->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>
    <script src="~/ngapp/models/models.js"></script>
    <script src="~/ngapp/controllers/admin/admincontrollers.js"></script>
    <script src="~/ngapp/services/admin/adminservice.js"></script>


    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

    <script src="~/testscripts/typescriptservices.js"></script>




</body>
</html>