<h2>Edit Lessons</h2>

<form>
    <select class="form-control" ng-model="controller.selectedUnitId" ng-options="item.id as item.name for item in controller.units" ng-change="controller.listLessons()">
        <option value="">Select Unit</option>
    </select>
</form>

<ul class="list-group" >
    <li class="list-group-item" ng-repeat="lesson in controller.lessons">
        {{lesson.title}}
        <div class="pull-right">
            <a ui-sref="admin.labs({lessonId:lesson.id})" class="btn btn-primary btn-xs">labs</a>
            <button ng-click="controller.edit(lesson.id)" class="btn btn-default btn-xs">edit</button>
            <button ng-click="controller.remove(lesson.id)" class="btn btn-danger btn-xs">delete</button>
        </div>
    </li>

</ul>

<button class="btn btn-primary" ng-click="controller.edit()">Add Lesson</button>