<h2>Edit Students</h2>
<form>
    <div class="form-group">
        <input type="text" 
               class="form-control" 
               ng-model="controller.match" 
               ng-model-options="{debounce:500}" 
               ng-change="controller.filter()" 
               placeholder="filter by email" />
    </div>
</form>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="student in controller.students">
        {{student.userName}}
        <span ng-show="student.isAdmin" class="isAdmin">(admin)</span>
        <div class="pull-right">
            <button ng-click="controller.getScores(student)" class="btn btn-default btn-xs">scores</button>
            <button ng-click="controller.remove(student)" class="btn btn-default btn-xs">delete</button>
            <button ng-click="controller.edit(student)" class="btn btn-default btn-xs">edit</button>
        </div>
    </li>

</ul>

<button class="btn btn-primary" ng-click="controller.add()">Add Student</button>