
<h2>{{controller.lesson.title}}</h2>

<uib-progressbar animate="false" value="controller.getProgress()" type="success"><b>{{controller.getProgressText()}}</b></uib-progressbar>

<h3>{{controller.currentLab.title}}</h3>
<div class="well well-lg instructions" ng-bind-html="controller.currentLab.instructions">
</div>

<uib-tabset>
    <uib-tab heading="{{tab.title}}" ng-repeat="tab in controller.tabs">
        <div ui-ace="{mode:tab.mode}" ng-model="tab.text"></div>
    </uib-tab>
</uib-tabset>


<button  id="submitBtn" class="btn" ng-click="controller.submitAnswer()">Submit Answer</button>




