
<fieldset>
    <legend>Login</legend>
    <ul>
        <li ng-repeat="error in controller.validationMessages">
            {{error}}
        </li>
    </ul>


    <form ng-submit="controller.login()">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"  ng-model="controller.loginUser.email"/>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="controller.loginUser.password" />
        </div>

        <button type="submit" class="btn">Login</button>
    </form>


    <div>
        If this is the first time that you have visited this site then you must
        <a href="/register">register</a>. You cannot use your Coder Camps username
        and password with this website.
    </div>

</fieldset>
